<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://open56f.yangchongtao.cn/2017082702bb/2017/08/10/2301558b228972e4247480567c4892f3.ipa?st=CGn-mxRYUknaReH0YF96nA&q=%E9%9D%9E%E5%87%A1%E5%BE%AE%E5%95%86%E5%A4%9A%E5%BC%806.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://jabizb.cn/icon/largeImage.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.again.free002</string>
				<key>bundle-version</key>
				<string>6.5.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>非凡微商1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
